$yellow: #00a;

@mixin margenes ($top, $botton){
    margin-top: $top;
    margin-bottom: $botton;
}

.jumbotron{
    background-color: #150485;
    color: white;
    margin-top: 50px;
    @include margenes(50px, 0px);
}


footer{
    padding: 10px 10px 0 10px;
    background-color: #00a1ab;
    margin-bottom: 0px;
    margin-top: 10px;
    @include margenes(10px, 0px);
}
address {
    color: white;
}
.footer-address-icon {
    padding-right: 10px;
}

img {
    width: 36px;
    height: 36px;
    
}
a {
    color:white;

}

#imagenes {
    width: 100%;
    height: 100%;
}

#ya {
    width: 100%;
    height: 100%;
}

h2 {
    padding: 50px 0px 10px 0px;
    color: black;
}

.card-vet {
    flex: 1 250px;
    @include margenes(10px, 0px);
}

.btn-vermás {
    width: 100%;
    border-radius: 0px;
}

.tab-content {
    padding-top: 10px;
}

#ola {
    width: 100%;
    height: 100%;
}